.container {
  box-sizing: border-box;
  width: inherit;
  height: inherit;

  .barContainer {
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid #212a3e;
    border-radius: 15px;
    min-width: 475px;
    width: 100%;

    .icon {
      align-items: center;
      display: flex;
      margin: 0 16px;
      height: 16px;
    }

    .input {
      flex-basis: 60%;
      flex-shrink: 2;
    }

    .engineOptions {
      flex-basis: 20%;
      min-width: 150px;
    }

    .button > button {
      border-radius: 0 15px 15px 0;
    }
  }
}
