.container {
  box-sizing: border-box;
  width: inherit;
  height: inherit;

  .barContainer {
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid white;
    border-radius: 15px;
    min-width: 475px;
    width: 100%;

    .icon {
      align-items: center;
      display: flex;
      margin: 0 16px;
      height: 16px;
    }

    .input {
      flex-basis: 50%;
      flex-shrink: 2;
    }

    .engineOptions {
      flex-basis: 30%;
      min-width: 170px;
    }

    .button {
      background-color: "lightblue";
    }
  }
}
