@import "../../../theme/main.scss";

.container {
  box-sizing: border-box;
  width: inherit;
  height: inherit;
  border-radius: inherit;

  .searchBarContainer {
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid;
    border-radius: inherit;
    min-width: 30em;
    width: 100%;

    .icon {
      align-items: center;
      display: flex;
      margin: 0 0.75em 0 1em;
      height: 1em;
    }

    .input {
      all: unset;
      flex: 2 60%;
      margin-right: 1em;
      width: 100%;
    }

    .engineOptions {
      flex-basis: 20%;
      min-width: 11em;
    }

    .button > button {
      border-radius: 0 13px 13px 0;
    }
  }
}
