@import "../../../theme/main.scss";

.container {
  position: absolute;
  top: -2em;
  border-radius: 1rem 1rem 0 0;
  border: 1px solid #212a3e;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: $fg-primary;
  color: white;
  height: 2em;
  width: 100%;

  .buttonsContainer {
    position: absolute;
    right: 1em;
    display: flex;
    gap: 0.25em;
    right: 0.5em;

    .icon {
      width: 1.25em;
      height: 1.25em;
    }
  }
}
