.container {
  position: absolute;
  top: -34px;
  border-radius: 15px 15px 0 0;
  border: 1px solid #212a3e;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #394867;
  opacity: 50%;
  color: white;
  height: 2em;
  width: 100%;

  .buttonsContainer {
    position: absolute;
    right: 16px;
    display: flex;
    gap: 0.25em;
    right: 8px;

    .icon {
      width: 16px;
      height: 16px;
    }
  }
}
