@import "normalize.css";
@import "../theme/main.scss";

:root * {
  // border: 1px solid red;
}

body {
  background-color: $bg-primary;
  font-family: "Inter";
  height: 200vh;
}

// input {
//   all: unset;
//
