@use "../../../theme/main.scss";

.container {
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5em;
  display: flex;
  overflow: hidden;
  margin-left: 2em;
  border-radius: 15px 0 0 15px;
  width: 7rem;
  background-color: main.$fg-primary;
  padding: 0.5em;

  & > button {
    margin-right: 1em;
  }
}
