@use "../../../theme/main.scss";

.container {
  height: 100vh;

  .widgetsPanel {
    z-index: 10;
    position: fixed;
    right: -2.5em;
    width: 8rem;
    transition: right 500ms ease-out;

    &:hover {
      right: 4.5em;
    }
  }
}
