.container {
  flex-direction: column;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  padding: 2em;
  border-radius: inherit;
  font-family: "Inter";
  color: white;
  text-shadow: #000 5px 5px 10px;
  font-weight: 200;

  @media only screen and (max-width: 480px) {
    padding: 2em 1em;
  }

  @media only screen and (max-width: 460) {
    padding: 2em;
  }

  .current {
    display: flex;
    justify-content: space-between;

    .left {
      flex-direction: column;
      flex-basis: 70%;
      display: flex;

      .locationDate {
        .location {
          font-weight: 600;
          font-size: 2em;
        }

        .date {
          font-size: 1.125em;
        }
      }

      .currentConditions {
        justify-content: flex-start;
        align-items: center;
        display: flex;
        margin-top: 0.5em;
        margin-left: 0.5em;

        .currentIcon {
          height: calc(1em * 10) px;
        }
      }
    }

    .right {
      flex-basis: 30%;
      text-align: center;

      .currentTemp {
        font-weight: 500;
        font-size: 4em;
      }

      .maxTemp,
      .minTemp {
        font-size: 1.5em;
      }

      .maxTemp {
        color: tomato;
      }

      .minTemp {
        color: lightskyblue;
      }
    }
  }

  .forecastButtonTop,
  .foreacstButtonBottom {
    margin: 0 auto;
    position: absolute;
  }

  .forecastButtonTop {
    bottom: 1em;
    left: 50%;
  }

  .forecastButtonBottom {
    transform: rotate(180deg);
    right: 50%;
  }

  .forecast {
    flex-direction: column;
    display: flex;

    .tabsNav {
      padding: 0 0.5em;
      margin-left: -1em;
      margin-right: -1em;
      display: flex;
      list-style-type: none;
      border-bottom: 1px solid white;

      .tabButton {
        line-height: 1.5em;
        &:hover {
          cursor: pointer;
        }
        &:first-child {
          margin-left: 0.5em;
        }
        &:not(:last-child) {
          margin-right: 2em;
        }
      }

      .tabActive {
        border-bottom: 2px solid white;
      }
    }

    .tab {
      backdrop-filter: blur(18px);
      overflow: scroll;
      margin: 0 -1em -1em;
      padding: 0.5em;
    }
  }
}
