.container {
  flex-direction: column;
  display: flex;
  padding: 3em;
  border-radius: 15px;
  color: white;
  text-shadow: #000 5px 5px 10px;
  overflow: hidden;

  @media only screen and (max-width: 480px) {
    padding: 2em 1em;
  }

  @media only screen and (max-width: 460) {
    padding: 2em;
  }

  & .current {
    display: flex;
    justify-content: space-between;

    & .left {
      flex-direction: column;
      flex-basis: 70%;
      display: flex;

      & .locationDate {
        & .location {
          font-size: 2em;
        }

        & .date {
          font-size: 1.125em;
        }
      }

      & .currentConditions {
        margin-top: -15px;
        margin-left: -15px;
      }
    }

    & .right {
      flex-basis: 30%;
      text-align: center;

      & .currentTemp {
        font-size: 4em;
      }

      & .minMaxTemp {
        font-size: 1.5em;
      }
    }
  }

  & .forecast {
    flex-direction: column;
    display: flex;

    & .tabsNav {
      padding: 0 0.5em;
      margin-left: -1em;
      margin-right: -1em;
      display: flex;
      list-style-type: none;
      border-bottom: 1px solid white;

      & .tabButton {
        line-height: 22px;
        &:hover {
          cursor: pointer;
        }
        &:first-child {
          margin-left: 0.5em;
        }
        &:not(:last-child) {
          margin-right: 2em;
        }
      }

      & .tabActive {
        border-bottom: 2px solid white;
      }
    }

    & .tab {
      backdrop-filter: blur(20px);
      overflow: hidden;
      height: 145px;
      margin: 0 -1em -1em;
      padding: 0.5em;
    }
  }
}
