.container {
  height: 100%;
  background: white;
  padding: 1rem;

  .upload {
    justify-content: center;
    display: flex;
    margin-top: 1rem;
    min-height: 6rem;
    border: 1px dashed black;
    cursor: pointer;
  }

  .fileList {
    margin: 0;
    padding: 0;

    .listItem {
      list-style-type: none;
    }
  }

  .fileInput {
    height: 100%;
    visibility: hidden;
  }
}
