@use "/styles/themes/main.scss" as *;
@use "/styles/mixins.scss" as *;

.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px solid lightgrey;
  border-radius: 1rem;
  width: 20rem;
  padding: 1.5rem;

  .emailAuth {
    width: 17rem;
    flex-direction: column;
    gap: 0.5rem;
    display: flex;

    .visuallyHidden {
      @include visually-hidden;
    }

    .error {
      color: red;
    }

    .input {
      border: none;
      border-radius: 0.25rem;
      padding: 0.5rem;
      width: 100%;
      height: 2.5rem;
      background-color: white;
    }

    .submitButton {
      margin-top: 1rem;
      height: 2.5rem;
      border-radius: 0.25rem;
      border: none;
      background-color: black;
      color: white;
    }
  }

  .links {
    justify-content: space-between;
    display: flex;
    width: 100%;

    .link {
      margin-top: 0.5rem;
      font-size: 0.8rem;
      color: grey;
    }
  }

  .authProviders {
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    display: flex;
    width: 17rem;

    .providerButton {
      align-items: center;
      gap: 1rem;
      display: flex;
      border-radius: 0.25rem;
      height: 2.5rem;
      padding: 0.5rem 1rem;
      background-color: $fg-secondary;
      color: white;
      cursor: pointer;
    }
  }

  .divider {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 1.5rem;
    width: 17rem;
    font-size: 0.85rem;
    font-weight: bold;

    &::before,
    &::after {
      content: "";
      flex-grow: 1;
      position: relative;
      border-top: 1px solid grey;
      margin-left: 0.5rem;
    }
  }
}
