@use "../../../theme/main.scss";

.container {
  position: fixed;
  top: -2.5rem;
  height: 4.375rem;
  transition: top 500ms ease-out;

  .innerContainer {
    align-items: center;
    justify-content: space-between;
    display: flex;
    border-radius: 0 0 15px 15px;
    height: 3.125rem;
    padding: 0 2rem;
    background-color: main.$fg-secondary;
    color: white;

    .banner {
      align-items: center;
      display: flex;
    }
  }
  &:hover {
    top: 0;
  }
}
